.git
.gitattributes
.gitignore
.phpunit.cache
.phpunit.result.cache
Dockerfile
.dockerignore
*.md
node_modules
.fleet
.idea
.vscode
.env.backup
.env.production
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.sixth
